$button-width: 99px;
$button-height: 44px;
$round-button-size: 40px;
$arrow-height: 24px;
$big-button-size: 320px;
$outline-border: 2px;
$button-text-or-bg: white;
$buttons-width: (
  'sm': 150px,
  'md': 266px,
  'lg': 320px,
);

@use 'sass:math';

@mixin button-background($from, $to, $opacity: 0, $outline: 0) {
  $state: transparent;
  @if $outline != 0 {
    color: $from;
    $state: $button-text-or-bg;
  }
  @if $outline == 2 {
    $from: transparent;
    $to: transparent;
  }
  background-image: linear-gradient($state, $state),
    linear-gradient(180deg, fade-out($from, $opacity), fade-out($to, $opacity));
}

@mixin abstact_button($outline: 0) {
  width: $button-width;
  height: $button-height;

  border: solid $outline-border transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;

  &_green {
    $from: $Green;
    $to: $GreenGradient;
    @include button-background($from, $to, $outline: $outline);
  }

  &_hazy-green {
    $from: $Green;
    $to: $GreenGradient;
    @include button-background($from, $to, $opacity: 0.5, $outline: $outline);
  }

  &_purple {
    $from: $Purple;
    $to: $PurpleGradient;
    @include button-background($from, $to, $outline: $outline);
  }

  &_hazy-purple {
    $from: $Purple;
    $to: $PurpleGradient;
    @include button-background($from, $to, $opacity: 0.5, $outline: $outline);
  }
}

.button {
  color: $Dark-Shade-50;
  border-radius: 1000rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  overflow: hidden;
  white-space: nowrap;
}

.button-solid {
  @include abstact_button();
  color: $button-text-or-bg;
}

.button-outline {
  @include abstact_button(1);
}

.button-inline {
  @include abstact_button(2);
  border: none;
  width: auto;
  height: auto;
}

.button_round {
  width: $round-button-size;
  height: $round-button-size;
}

.button_big {
  position: relative;
  width: $big-button-size;  

  .arrow {
    vertical-align: top;
    top: math.div($button-height - $arrow-height, 2);
    right: math.div($arrow-height, 2);

    &_end {
      position: absolute;
      right: math.div($arrow-height, 2);
    }

    &_start {      
      z-index: 5;
      left: math.div($arrow-height, 2);
      width: $icon-size;
      height: $icon-size;
      background-color: #fff;
      background-image: url('/assets/icons/arrow_forward.svg');
    }
  }
}
