mixin arrow(direction, position)    
  img(
    class="arrow" + (position ? " arrow_" + position : ""),
    src="/asset/icons/" + direction + ".svg"
  )

mixin button(options)  
  - buttonClass = "button"
  if options.outline == true    
    - buttonType = "button-outline"  
  else 
    - buttonType = "button-solid"
  - buttonClass += " " + buttonType
  if options.background    
    - buttonClass +=  " " +  buttonType + "_"  + options.background;    
  else
    - buttonClass += " button_green"  
  if options.big == true
    - buttonClass += " " + "button_big";
  if options.round == true
    - buttonClass += " " + "button_round";  
  if options.inline == true
    - buttonType = "button-inline"  
    - buttonClass = "button " + buttonType + " " +  buttonType + "_"  + options.background;
  button(class=buttonClass)
    block
