.rate {
    &__header {
      text-transform: uppercase;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;    

      margin-bottom: 15px;
    }

    &__group {
      display: inline-flex;
      flex-direction: row-reverse;      
      align-items: center;      
      width: 120px;
      height: 24px;
      justify-content: space-between;      

      &:focus-within{        
        box-shadow: 0 0 3px $purple;
      }
    }

    &__star {
      appearance: none;            
      font-size: 24px;
      height: 24px;
      position: relative;

      &::after {
        content: "star_border";
        font-family: "Material Icons";
        background: linear-gradient($purple, $purpleGradient);        
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      &:checked,  &:checked ~ & {
        &::after {
          content: "star";
        }
      }
  
    }   
}