@use 'sass:math';
@import 'form_variables.scss';

// components
@import 'input/input';
@import 'label/label';
@import 'select/select';
@import 'dropdown/dropdown';
@import 'checkbox/checkbox';
@import 'radio/radio';
@import 'toggle/toggle';
@import 'like/like';
@import 'rate/rate';
@import 'bullet/bullet';
@import 'rangeslider/rangeslider';

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px 0;  

  &__label {    
    display: flex;    
    flex-direction: column;    
    gap: 5px 5px;

    font-weight: 700;
    text-transform: uppercase;
  }
}
