include input/input
include label/label
include select/select
include dropdown/dropdown
include checkbox/checkbox
include radio/radio
include toggle/toggle



mixin form__input-group(options)
  .form-group
    +form__label(options) 
    +form__input(options)

mixin form__select-group(options)
  .form-group
    +form__label(options) 
    +form__select(options)

mixin form__dropdown-group(options)
  .form-group
    if options.id
      +form__label(options)
      +form__dropdown(options)
    else
      label.form-group__label= options.label
        +form__dropdown(options)
