include input/input
include label/label
include select/select

mixin form__input-group(options)
  .input-group
    +form__label(options) 
    +form__input(options)

mixin form__select-group(options)
  .input-group
    +form__label(options) 
    +form__select(options)

