@use 'sass:math';
@import 'form_variables.scss';

// components
@import 'input/input';
@import 'label/label';
@import 'select/select';
@import 'dropdown/dropdown';

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-bottom: 20px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px 5px;
  }
}
