@mixin sizing($map-width) {
  @each $name, $width in $map-width {
    &_#{$name} {
      width: $width;
    }
  }
}

@mixin form-control() {
  border-radius: 4px;
  @include sizing($form-widths);

  &:hover,
  &:focus {
    border: 1px solid $Dark-Shade-50;
    transition: border 250ms;
  }
}




