mixin form__select(options)
  -
    const size = options.size ? "form__select_" + options.size : "form__select_lg"
    const id = options.id ? options.id : ""
    const _class = size + " " + (options.class ?  options.class : "")
  select.form__select(id=id, class=_class, aria-expanded="false")    
    if options.placeholder
      option(value='', disabled, selected, hidden)= options.placeholder
    each val, text in options.options
      option.select__option(value=val)= text

  