mixin form__select(options)
  -
    const size = options.size ? "form__select_" + options.size : "form__select_lg"    
    const id = options.id ? options.id : ""
    const _class = options.size + " " + options.class 
  select.form__select(id=id, class=_class, data-form-type='dropdown')
    if options.placeholder
      option(value='', disabled, selected)= options.placeholder
    each val, text in options.options
      option.select__option(value=val)= text