$input-height: $base-height or 44px;


.form__select {
  color: $dark-shade-75;
  font: inherit;
  appearance: none;
  border-radius: 4px;
  height: $input-height;
  padding: 12px $base-height 12px 15px;
  line-height: normal;

  $icon-position: math.div($base-height - $icon-size, 2);
  background: transparent top $icon-position right $icon-position no-repeat
    url('/assets/icons/expand_more.svg');

  @each $name, $width in $form-widths {
    &_#{$name} {
      width: $width;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $dark-shade-50;
    transition: border 250ms;
  }
}

