header.header
  nav.navbar
    .nav-list-toggle
      span

    .toggler

    ul.nav-list
      li.nav-item
        a(href='#') Home
      li.nav-item
        a(href='#') Works
      li.nav-item
        a(href='#') Other
