-
  const parsePrice = require('./components/cards/locals.js').default;

mixin room-info(room)
  .room-info(class=[room.afterline && "room-info_afterline"])
    .room-info__room
      span(class=["room-info__number"]).
        #[span.h1.h1_small= "№"]
        #[span(class=["h1", room.slim && "h1_slim"])= room.number]
      span.h3.fc_primary= room.kind
    .room-info__price.
      #[b= parsePrice(room.price)] в сутки
