mixin form__label(options)
  - options.attr = options.attr ? options.attr : {}
  - const id = options.attr.id ? options.attr.id : options.id
  - _class =  options.inline && "form__label_row"
  - _class += options.rarefied ? _class + " form__label_rarefied" : _class
  label.form__label.input-group__label(for=id, class=_class)= options.label
    block