extends base

block content
  include components/form/form 
  include components/cards/wishes/wishes
  .cards
    .cards__column
      +wishes()
    .cards__column
      |2 
    .cards__column
      |3

