extends base

block content
  include components/form/form 
  include components/cards/cards

  .cards
    section.cards__column
      +wishes()
      +registration()
    setion.cards__column
      +book-a-room({price: "9 990₽", number:"888", kind:" люкс"})
      +enter()      
    section.cards__column
      |3

