extends base

block content
  include components/form/form
  include components/cards/cards

  .cards
    section.cards__column
      +wishes()
      +registration()
    setion.cards__column
      +book-a-room({
        price: 9999,
        number:"888",
        kind:"ЛЮКС",
        charges: {
          serviceСharge : {description: 'Сбор за услуги: скидка 2 179₽', info: true, price: 0},
          additionalСharge:  {description: 'Сбор за дополнительные услуги',info: true, price: 300}
          }
        })
      +enter()      
    section.cards__column
      +room-detail({
        price: 9990,
        number:"888",
        kind:"ЛЮКС",
        comments: 145,
        star: 3
      })      

      +form__input-group({        
              size: "sm",
              class:"form__input_expand",
              label: "picker",            
              attr: {
                id: "md22",
                'data-form-type':"datepicker",
                placeholder: "ДД.ММ.ГГГГ",              
              }
              })    
      +calendar()
      

