extends base

block content
  include components/form/form 
  include components/cards/cards

  .cards
    .cards__column
      +wishes()
      +registration()
    .cards__column
      |2 
    .cards__column
      |3

