extends base

block content
  include components/form/input
  main.page-control-form-elements
    .column-1
      +input-group({type:"text", id: "test-input", label: "text field"})
      +input-group({type:"tel", id: "tel-input", label: "phone number", size: "md", placeholder: "Enter your phone"})
      +select-group({id: "guests-input", label: "guests", size: "md",placeholder: "How meny gursts will be",options: {1: 1, 2:2, 3:3}})
      +input-group({type:"date", id: "date=test-input", label: "date", size: "lg", placeholder: "enter your name"})
