extends base

//- components include
include components/form/button/button
  
block content
  main    
    .container_test    
      .green-btn
        +button({background: "green"})
          | greek       
        +button({background: "green", outline: true})
          | green out
        +button({background: "hazy-green"})
          | hazy-green
        +button({background: "hazy-green", outline: true})
          | Hazy green out
        +button({background: "green", round: true})
          | gr
        +button({background: "purple", round: true, outline: true})
          | pro
        +button({background: "green", round: true})
          +arrow("arrow_forward")        
        +button({background: "purple", round: true})
          +arrow("arrow_back")        
        +button({background: "green", big: true})
          | green big
        +button({background: "green", big: true, outline: true})
          | green big outline
        +button({background: "purple", big: true})
          | bit purple
          +arrow("arrow_forward", "end")
        +button({inline: true})
          | click me          
        +button({background: "purple", inline: true})
          | click me          
        
      .purple-btn      
        +button({background: "purple"})= "purple"
        +button({background: "purple", outline: true})= "purple out"
        +button({background: "hazy-purple"})= "Hazy purple"      
        +button({background: "hazy-purple", outline: true})= "Hazy purple out"
      
