mixin checkbox(options)  
  label.checkbox__label
    input.checkbox__input(type="checkbox")&attributes(options.state)
    span.checkbox__text
      |#{options.content}
    
mixin checkbox-group(options)
  fieldset.checkbox-group
    legend.checkbox-group__title=options.label
    each row in options.content
      .checkbox-group__row
        each state, check in row          
          .checkbox-group__col.checkbox
            +checkbox({content: check, state: state})      