.checkbox-group {
  display: flex;
  flex-direction: column;  
  gap: 10px 0;
  
  
  &__title {
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;    

    margin-bottom: 15px;
  }

  &__row {
    display: flex;    
  }

  &__col {
    flex: 1 1 auto;
  }
}


.checkbox{

  &__text {        
    width: 200px;
    font-size: 14px;    
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;

    &_rich {      
      font-size: 12px;            
      line-height: 14px;      
      letter-spacing: 0em;
    }
  }

  &__rich {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
  }


  &__header {
    &_rich {      
      font-size: 14px;      
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__label {
  
    display: flex;
    gap: 0 10px;
    align-items: center;
  }  

  &__input {
    cursor: pointer;
    appearance: none;
    flex: 0 0 20px;
    align-self: first baseline;
    margin-top: 2px;
    height: 20px;
    border: 1px solid $purple;
    border-radius: 4px;
    background-color: #FFF;

    position: relative;    

    &:checked {

      &:before {
        content: "";
        width: 2px;
        height: 8px;

        position: absolute;        
        left: 6.5px;
        top: 5px;        
        
        transform-origin: bottom right;
        transform: rotate(45deg);             
        background: linear-gradient(180deg, $purple, $purpleGradient);
      }

      &::after{        
        content: "";
        width: 2px;
        height: 6px;

        position: absolute;        
        left: 8.4px;
        bottom: 5.1px;        
        
        transform-origin: bottom left;
        transform: rotate(-45deg);        
        background: linear-gradient(180deg, $purple, $purpleGradient);
      }
    }

    &:disabled {
      border: 1px solid $dark-shade-25;
    }

    &:focus{
      box-shadow: 0 0 3px $purple;
    }
  }

}
