.form__input {
  height: $input-height;
  border-radius: 4px;
  border: 1px solid $Dark-Shade-25;
  transition: border 250ms;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 15px;

  @each $name, $width in $form-widths {
    &_#{$name} {
      width: $width;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $Dark-Shade-50;
    transition: border 250ms;
  }
}

