mixin room-detail(room)
  -
    room.slim = true
  section.card.card_sm
    .card__block
      .card__block.card__carousel
        +carousel(room.images)
      - room.afterline = true
      +room-info(room)
      .card__row
        +rate({value: room.star, disabled: true, room: room.number})
        .card__review.
          #[b=room.comments] Отзывов
          
