@import 'nullstyle';
@import 'typography';


@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/fonts/Montserrat-Regular.woff') format('woff'), url('/fonts/Montserrat-Regular.ttf') format('truetype'), url('/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('/fonts/Montserrat-Bold.woff') format('woff'), url('/fonts/Montserrat-Bold.ttf') format('truetype'), url('/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


// coponents
@import '../pug/components/button/button';

.container_test {      
  display: flex;  
  height: 600px;

  .green-btn .green-btn{    
    height: 200px;
    flex: 0 0 150px;
    gap: 10px 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
}
