$dark-shade-100: #1F2041;
$dark-shade-75: rgba($dark-shade-100, 0.75);
$dark-shade-50: rgba($dark-shade-100, 0.5);
$dark-shade-25: rgba($dark-shade-100, 0.25);
$dark-shade-10: rgba($dark-shade-100, 0.1);
$dark-shade-5: rgba($dark-shade-100, 0.05);

$purple: #BC9CFF;
$purpleGradient: #8BA4F9;
$primary-gradient: linear-gradient(180deg, $purple 0%, $purpleGradient 100%);

$green: #6FCF97;
$greenGradient: #66D2EA;
$secondary-gradient: linear-gradient(180deg, $green 0%, $greenGradient 100%);

$primary: $purple;
$secondary: $green;


$white-gradient: linear-gradient(180deg, #fff 0%, #fff 100%);
$dark-shade-25-gradient: linear-gradient(180deg, $dark-shade-25 0%, $dark-shade-25 100%);

$font-colors: (
  'ds-100': $dark-shade-100,
  'ds-50': $dark-shade-50,
  'ds-25': $dark-shade-25,
  'ds-10': $dark-shade-10,
  'ds-5': $dark-shade-5,
  'purple': $purple,
  'primary': $purple,
  'green': $green,
  'secondary': $green
  );


@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.eot');
	src: local('☺'), url('./fonts/Montserrat-Regular.woff') format('woff'), url('./fonts/Montserrat-Regular.ttf') format('truetype'), url('./fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Bold.eot');
	src: local('☺'), url('./fonts/Montserrat-Bold.woff') format('woff'), url('./fonts/Montserrat-Bold.ttf') format('truetype'), url('./fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	src: url('./fonts/MaterialIcons-Regular.eot');
	src: local('☺'), url('./fonts/MaterialIcons-Regular.woff') format('woff'), url('./fonts/MaterialIcons-Regular.ttf') format('truetype'), url('./fonts/MaterialIcons-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

h1, .h1 {  
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.h1_slim {
  font-size: 19px;
  line-height: 23px;
}

.h1_small, h1 > small {
  font-size: 14px;
  line-height: 17px;
}

h2, .h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

h3, .h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.purple, .primary {
  color: $purple;
}

.green {
  color: $green;
}

.bold {
  font-weight: 700;
}

.fc {
  @each $suffix, $color in $font-colors {    
    &_#{$suffix} {
      color: $color;
    }
  }
}
