$Dark-Shade-100: #1f2041;
$Dark-Shade-75: rgba($Dark-Shade-100, 0.75);
$Dark-Shade-50: rgba($Dark-Shade-100, 0.5);
$Dark-Shade-25: rgba($Dark-Shade-100, 0.25);
$Dark-Shade-5: rgba($Dark-Shade-100, 0.05);

$Purple: #bc9cff;
$PurpleGradient: #8ba4f9;

$Green: #6fcf97;
$GreenGradient: #66d2ea;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

h1 h2 h3 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
}

.purple {
  color: $Purple;
}

.green {
  color: $Green;
}
