$Dark-Shade-100: #1F2041;
$Dark-Shade-75: rgba($Dark-Shade-100, 0.75);
$Dark-Shade-50: rgba($Dark-Shade-100, 0.5);
$Dark-Shade-25: rgba($Dark-Shade-100, 0.25);
$Dark-Shade-5: rgba($Dark-Shade-100, 0.05);

$Purple: #BC9CFF;
$PurpleGradient: #8ba4f9;

$Green: #6FCF97;
$GreenGradient: #66d2ea;


@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/fonts/Montserrat-Regular.woff') format('woff'), url('/fonts/Montserrat-Regular.ttf') format('truetype'), url('/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('/fonts/Montserrat-Bold.woff') format('woff'), url('/fonts/Montserrat-Bold.ttf') format('truetype'), url('/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

h1 h2 h3 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
}

.purple {
  color: $Purple;
}

.green {
  color: $Green;
}

