@import '../../form/button/button.scss';

.calendar-wrapper {
  position: relative;
}

.calendar{
  width: map-get($form-widths, 'lg');  
  box-shadow: 0px 10px 20px 0px #1F20410D;
  border: 1px solid rgba($dark-shade-100, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 4px;
  display: none;

  position: absolute;
  top: calc(100% + 5px);
  left: 0px;

  &_active {
    display: flex;
  }

  &_static {
    position: initial;    
  }



  &__arrow {    
    font-family: "Material Icons";    
    text-transform: initial;
    font-size: 24px;    
    font-weight: 400;
    line-height: 20px;    

    background-color: #fff;
    color: $primary;
  }

  &_mb-10 {
    margin-bottom: 10px;
  }

  &__month {
    font-family: "Montserrat";
    font-size: 19px;      
    font-weight: 700; 
    line-height: 23px;            
    color: $dark-shade-100;
    text-align: center;
    text-transform: capitalize;
  }
  &__weekday {
    color: $primary;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    text-align: center;
    font-weight: 700;
  }
  &__days {
    color: $dark-shade-100;
    display: grid;
    grid-template-columns: repeat(7, 40px);

    & > *:focus {      
      border: 1px solid $primary;      
    }
  }

  

  .button_white.calendar__day{
    color: $dark-shade-50;    
    font-size: 12px;    
    font-weight: 400;
    line-height: 15px;    
    text-align: center;
    

    &_lighter{
      color: $dark-shade-25;
    }
    
  }

}