<div class="calendar">
    <div class="calendar__month calendar_mb-10">
        <div class="card__row">
            <button class="calendar__arrow">arrow_back</button>
            <span class="calendar__month-name">октябрь 2021</span>
            <button class="calendar__arrow">arrow_forward</button>
        </div>
    </div>
    <div class="calendar__body">
        <div class="calendar__weekday"><span>Пн</span><span>Вт</span><span>Ср</span><span>Чт</span><span>Пт</span><span>Сб</span><span>Вс</span>
        </div>
        <div class="calendar__days">
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">27</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">28</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">29</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">30</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">1</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">2</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">3</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">4</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">5</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">6</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">7</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">8</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">9</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">10</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">11</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">12</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">13</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">14</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">15</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">16</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">17</div>
            </button>
            <button class="button button-solid button-solid_green button_round button_center calendar__button">
                <div class="button__text">18</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">19</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">20</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">21</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">22</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">23</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">24</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">25</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">26</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">27</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">28</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">29</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">30</div>
            </button>
            <button class="button button-solid button-solid_white button_round button_center calendar__button">
                <div class="button__text">31</div>
            </button>
        </div>
    </div>
    <div class="controls">
        <div class="option option__controls">
            <button class="option__reset" aria-label="Очистить">Очистить</button>
            <button class="option__apply" aria-label="Применить">Применить</button>
        </div>
    </div>
</div>
