@import './summary/summary.scss';
@import './room-info/room-info.scss';
@import './room-detail/room-detail.scss';
@import './carousel/carousel.scss';

.card {  
  width: 380px;
  padding: 40px 30px 30px;

  border: 1px solid #0000001F;  
  border-radius: 4px;
  box-shadow: 0px 0px 25px 0px #5f5e5e33;
  
  display: flex;
  flex-direction: column;
  gap: 30px 0px;   
  

  &_sm {
    width: 270px;
    box-shadow: 0px 10px 20px 0px #1F20410D;
    padding: 0 20px 20px;
  }
  
  
  &__header {    
    color: $dark-shade-100;
  }

  
  &__block {    
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &_sm {
      margin: 0 20px;
    }

    &_full {
      margin: 0 -20px;
    }

    &_slim {
      gap: 10px 0px;
    }

    &_inline {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__review {
    font-size: 14px;        
    line-height: 18px;
    color: $dark-shade-50;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

