@import './summary/summary.scss';
@import './room-info/room-info.scss';
@import './carousel/carousel.scss';
@import './calendar/calendar.scss';

$card-margin: 30px;
$card-margin-sm: 20px;
$card-md: 380px;
$card-sm: 270px;


.card {    
  
   
  width: $card-md;
  padding: 40px $card-margin 30px;

  border: 1px solid #0000001F;  
  border-radius: 4px;
  box-shadow: 0px 0px 25px 0px #5f5e5e33;
  
  display: flex;
  flex-direction: column;
  gap: 30px 0px;   
  

  &_sm {     
    width: $card-sm;
    box-shadow: 0px 10px 20px 0px #1F20410D;
    padding: 0 $card-margin-sm 20px;
  }
  
  
  &__header {    
    color: $dark-shade-100;
  }

  &__carousel {      
    margin: 0 $card-margin-sm * -1;    
    height: 151px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  &__block {    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    &_slim {
      gap: 10px 0px;
    }

    &_inline {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__review {
    font-size: 14px;        
    line-height: 18px;
    color: $dark-shade-50;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_dotline {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 4px;
        border-bottom: 1px dotted $dark-shade-50;
        z-index: -1;
      }
    }
  }
}

