@import 'summary/summary.scss';

.card {  
  width: 380px;
  padding: 40px 30px 30px;

  border: 1px solid #0000001F;  
  border-radius: 4px;
  box-shadow: 0px 0px 25px 0px #00000033;
  
  display: flex;
  flex-direction: column;
  gap: 32px 0px;   
  
  &__header {    
    color: $dark-shade-100;

    &_gray {
      font-size: 12px;
      line-height: 18px;
      color: $dark-shade-50;

      & > b {
        font-size: 14px;
      }
    }

    small {      
      font-size: 14px;            
      line-height: 17px;            
    }
  }

  
  &__block {    
    display: flex;
    flex-direction: column;
    gap: 20px 0px;

    &_slim {
      gap: 10px 0px;
    }

    &_inline {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }

    
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

