$button-width: 99px;
$button-height: 44px;
$round-button-size: 40px;
$arrow-height: 24px;
$big-button-size: 320px;
$outline-border: 2px;
$button-text-or-bg: white;
$buttons-width: (  
  'sm': 44px,
  'md': 99px,
  'lg': 320px,
);

@use 'sass:math';

@mixin button-background($from, $to, $opacity: 0, $outline: 0) {
  $state: transparent;
  @if $outline != 0 {
    color: $from;
    $state: $button-text-or-bg;
  }  
  background-image: linear-gradient($state, $state),
    linear-gradient(180deg, fade-out($from, $opacity), fade-out($to, $opacity));
}

@mixin button_color($from, $to, $outline) {
  @include button-background($from, $to, $outline: $outline);

  &:hover {
    @include button-background($from, $to,$opacity: 0.5, $outline: $outline);
  }

  &:focus {
    box-shadow: 0 0 5px $from;
  }
}

@mixin abstact_button($outline: 0) {
  // width: $button-width;
  height: $button-height;
  align-content: center;

  border: solid $outline-border transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;

  &_green {    
    @include button_color($green, $greenGradient, $outline);
  }  

  &_purple {
    @include button_color($purple, $purpleGradient, $outline);    
  }
}

.button {
  color: $dark-shade-50;
  border-radius: 1000rem;
  display: flex;  
  align-items: center;
  justify-content: space-between;

  @each $name, $width in $buttons-width {
    &_#{$name} {
      width: $width;
    }
  }

  &__text {              
    order: 2;    
    
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;   

    &_initial {
      text-transform: initial;
    }
  }

}

.button-solid {
  @include abstact_button();
  color: $button-text-or-bg;
}

.button-outline {
  @include abstact_button(1);  
  
}

.button-inline {
  @include abstact_button(1);
  border: none;  
  height: auto;
  width: fit-content;

  background-color: #fff;  

  &:hover {
    color: $dark-shade-50;
  }

}

.button_round {
  width: $round-button-size;
  height: $round-button-size;
}

.arrow {
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;  

  &_center {
    // grid-area: center;    
    width: fit-content;        
    order: 2;
  }  

  &_start {    
    // grid-area: start;
    width: $button-height;    
    order: 1;
  }
  
  &_end {        
    // grid-area: end;
    width: $button-height;
    order: 3;
  }  
  
}
