@use 'sass:math';

//variables
$button-width: 99px;
$button-height: 44px;
$round-button-size: 40px;
$arrow-height: 24px;
$big-button-size: 320px;
$outline-border: 2px;
$button-text-or-bg: white;
$button-flat: 34px;

$buttons-width: (  
  'sm': 44px,
  'md': 99px,
  'lg': 320px,
);

$button-size: (
  'sm': (width: 44px,  height: $button-height),
  'md': (width: 99px,  height: $button-height),
  'lg': (width: 320px,  height: $button-height),
  'round': (width: $round-button-size,  height: $round-button-size),  
  'flat': (width: 87px,  height: $button-flat),
  'flat-lg': (width: 196px,  height: $button-flat),
);



@mixin button-background($from, $to, $opacity: 1, $outline: 0) {
  $state: transparent;
  @if $outline != 0 {
    color: $from;
    $state: #fff;
  }  
  background-image: linear-gradient($state, $state),
    linear-gradient(180deg, rgba($from, $opacity), rgba($to, $opacity));
}

@mixin button_bg-color($from, $to, $outline, $hover:1) {
  @include button-background($from, $to, $outline: $outline);

  @if $hover {
    &:hover {
      @include button-background($from, $to, $opacity: 0.5, $outline: $outline);
    }
  }
}

@mixin abstact_button($outline: 0) {  
  height: $button-height;
  align-content: center;

  border: solid $outline-border transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;

  &_green {    
    @include button_bg-color($green, $greenGradient, $outline);
  } 

  &_purple {
    @include button_bg-color($purple, $purpleGradient, $outline);
  }
  
  &_white {
    @include button_bg-color(#fff, #fff, $outline);    
  }

  &_transparent {
    background-color: transparent;    
  }
}

.button {  
  border-radius: 1000rem;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  @include abstact_button();
  color: $button-text-or-bg;  

  @each $name, $size in $button-size {
    &_#{$name} {
      width: map-get($size, "width");
      height: map-get($size, "height");
    }
  }

  &_center {
    justify-content: center;
  }

  &__text {              
    order: 2;    
    
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;   

    &_initial {
      text-transform: initial;
    }
  }
}


.button-outline {
  @include abstact_button(1);  
}

.button-inline {
  @include abstact_button(1);
  border: none;  
  height: auto;
  width: fit-content;

  background-color: #fff;  

  &:hover {
    color: $dark-shade-50;
  }

}


.arrow {
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;  

  &_center {       
    width: fit-content;        
    order: 2;
  }  

  &_start {        
    width: $button-height;    
    order: 1;
  }
  
  &_end {            
    width: $button-height;
    order: 3;
  }  
  
}
