mixin form__input-group(options)
  .input-group
    if options.id
      +form__label(options)
      +form__input(options)      
      .input-group__append
        button(type="button")=Button
    else
      label.form-group__label= options.label
        +form__input(options)      
        .input-group__append
          button(type="button")=Button  
