mixin like(options)  
  -
    const _class = options.state.checked ? "like_active" : ""
  button.like(class=_class)&attributes({"data-type-button":"like"})
    span.like__favorite
      |favorite
    span.like__text=options.value    
