.like {
  font-size: 10px;

  &__label{
    color: $dark-shade-25;
  }

  &__favorite {        
    font-family: "Material Icons";     
    font-style: normal;
    font-weight: 400;
    line-height: 0.9em;
    letter-spacing: 0em;
    text-align: center;

    align-self: center;
    pointer-events: none;
  }

  &__input {
    appearance: none;
    width: 4em;
    height: 2em;
    border: 1px solid $dark-shade-25;
    border-radius: 1em;
    background-color: #FFF;
    cursor: pointer;
    fill: $dark-shade-25;
    color: $dark-shade-25;

    display: grid;
    grid-template-columns: 50% 50%;

    &_active {
      border: 1px solid $purple;
      color: $purple;
      fill: $purple;      
    }

    &:focus {
      box-shadow: 0 0 2px;
    }
  }

  &__text {
    font-family: inherit;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    align-self: center;
    pointer-events: none;
  }
}
