.summary {
  display: flex;    
  flex-direction: column;
  gap: 10px;

  &__row {
    color: $dark-shade-75;
    display: grid;
    grid-template-columns: 214px 5px 20px 1fr;
  }

  &__description {
    grid-column: 1;
  }

  &__info {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    color: $dark-shade-50;
    border-radius: 100rem;
    border: 1px solid $dark-shade-50;
  }

  &__price {
    grid-column: 4;
    text-align: end;

  }
}